{%extends 'layouts/base.html' %}
{% from 'components/_formhelpers.html' import render_field %}

{% block page_content %}
<div class="jumbotron py-lg-5 py-sm-3">
    <h2 class="text-center">Project Snitch</h2>
    <div class="form-group mt-sm-4">
        <form action="{{ url_for('buscar') }}" method="get" role="form" id="form" onsubmit="return false;">
                <input type="text" class="form-control" name="buscar" id="buscar"
                       placeholder="Buscar Senador o Diputado">
        </form>
    </div>

    {% if form %}
    <div id="form-mensaje" class="container-fluid mt-5 p-0">
        <form action="" method="POST" role="form">
            <legend>Publicar Mensaje:</legend>

            {{ form.hidden_tag() }}

            <div class="form-group">
                {{ render_field(form.titulo, class="form-control")}}
            </div>

            <div class="form-group">
                {{ render_field(form.contenido, class="form-control")}}
            </div>

            <button type="submit" class="btn btn-success">Ok</button>
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block page_script %}
    <script>
        // Autocomplete
        $(function () {
            $("#buscar").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url:"{{ url_for("ajax_nombres") }}",
                        dataType:"json",
                        data: {
                            term: request.term
                        },
                        success: function (data) {
                            response(data.data);
                        }
                    });
                },
                minLenght: 3,
                focus: function (event, ui) {
                    $("#buscar").val(ui.item.label);
                    return false;
                },
                select: function (event, ui) {
                    event.preventDefault();
                    $("#buscar").val(ui.item.label);
                    window.location.href = "{{ url_for('home')}}" + "legislador/" + ui.item.value;
                    return false;
                }
            }).autocomplete( "instance" )._renderItem = function( ul, item ) {
                ul.addClass("dropdown-menu");
                return $( "<li class='dropdown-item'>" )
                .append(item.label)
                .appendTo( ul );
            };
        });

        // Search
        var form = document.getElementById("form");

        var buscar = document.getElementById("buscar");
        buscar.addEventListener("keypress", buscarLegislador);

        function buscarLegislador(ev){
            if (ev.keyCode === 13) {
                form.submit();
            }
        }
    </script>

{% endblock %}