{%extends 'layouts/base.html' %}

{% block search_bar %}
    {% include 'components/search_bar.html' %}
{% endblock %}

{% block page_content %}
    <div class="jumbotron">
        <h1 class="display-4 mb-4">API:</h1>

        <form action="{{ url_for('get_legislador') }}" method="get">
            <div class="form-group">
                <h2>Legislador</h2>
                <p>Metodo: GET</p>
                <p>URL: /api/legisladores/</p>
                <label for="id">id</label>
                <input type="number" class="form-control" name="id" id="id"
                       aria-describedby="helpId" placeholder="">
                <small id="helpId" class="form-text text-muted">Vacio para obtenerlos todos. Presione ENTER para enviar.</small>
            </div>
        </form>
        <hr>
        <form action="{{ url_for('get_legislador') }}" method="get">
            <div class="form-group">
                <h2>Noticias (WIP)</h2>
                <p>Metodo: GET</p>
                <p>URL: /api/noticias/</p>
                <label for="id">id</label>
                <input type="number" class="form-control" name="id" id="id"
                       aria-describedby="helpId" placeholder="">
                <small id="helpId" class="form-text text-muted">Vacio para obtenerlas todas. Presione ENTER para enviar.</small>
            </div>
        </form>
        <hr>
    </div>
{% endblock %}