{%extends 'layouts/base.html' %}
{% from 'components/my_macros.html' import render_noticia %}

{% block page_content %}

    <p id="idLegislador" hidden="hidden">{{ legislador.id }}</p>

    <div id="informacionLegislador" class="card text-white bg-light mb-3">
        <div class="card-header pt-4 bg-success">
            <div class="row">
                <div class="col-lg-10 col-md-10 col-sm-9 mr-lg-5 float-left">
                    <h3>{{ legislador.primer_nombre }} {{ legislador.segundo_nombre }} {{ legislador.primer_apellido }} {{ legislador.segundo_apellido }}</h3>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-2 float-right">
                    {% if form %}
                        <form action="" method="POST" role="form">
                            {{ form.hidden_tag()  }}
                            <div class="form-group">
                                {{ form.sapear(class="btn btn-danger") }}
                            </div>
                        </form>
                    {% elif not form and current_user.is_authenticated %}
                        <span class="badge badge-danger" style="font-size: medium">Sapeando</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card-body">
            <p><b>Cargo Actual:</b> {{ cargo.tipo.nombre }}</p>
            <p><b>Período Actual:</b> {{ cargo.periodo.nombre }} ({{ cargo.periodo.anno_inicio }} - {{ cargo.periodo.anno_fin }})</p>
            <p><b>Partido Politico:</b> {{ cargo.partido.nombre }}</p>
            <p><b>Región:</b> Región {{cargo.region.nombre}}, {{cargo.region.numero}}</p>
            <p><b>Email:</b> {{ legislador.email }}</p>
            <p><b>Telefono:</b> {{ legislador.telefono}}</p>
            {% if senador %}
                <p><b>Circunscripción:</b> {{cargo.circunscripcion.numero}}</p>
                <p><b>Distritos:</b> {{distritos}}</p>
            {% else %}
                <p><b>Distrito:</b> {{distritos}}</p>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col">
            <ul class="nav nav-tabs border-primary">
                <li class="nav-item active"><a class="nav-link active show" href="#cargos" data-toggle="tab" aria-expanded="false">Cargos</a></li>
                <li class="nav-item"><a class="nav-link" href="#votaciones" data-toggle="tab" aria-expanded="true">Votaciones</a></li>
                <li class="nav-item"><a class="nav-link" href="#asistencia" data-toggle="tab" aria-expanded="false">Asistencia</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade show active" id="cargos">
                    <div id="tablaCargos" class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Años</th>
                                <th>Tipo</th>
                                <th>Partido Político</th>
                                <th>Región</th>
                                <th>Circunscripcion</th>
                                <th>Distritos</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for c in lista_cargos %}
                            <tr>
                                <td>{{c.years}}</td>
                                <td>{{c.tipo}}</td>
                                <td>{{c.partido}}</td>
                                <td>{{c.region}}</td>
                                <td>{{c.circunscripcion}}</td>
                                <td>{{c.distritos}}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="votaciones">
                    <div id="tablaVotaciones" class="table-responsive">
{#                        <table class="table table-hover">#}
{#                            <thead>#}
{#                            <tr>#}
{#                                <th>Fecha</th>#}
{#                                <th>Nombre del Proyecto</th>#}
{#                                <th>Descripcion</th>#}
{#                                <th>Voto</th>#}
{#                                <th>Link</th>#}
{#                            </tr>#}
{#                            </thead>#}
{#                            <tbody>#}
{#                            </tr>#}
{#                            </tbody>#}
{#                        </table>#}
                        WIP
                    </div>
                </div>
                <div class="tab-pane fade" id="asistencia">
                    WIP
                </div>
            </div>
        </div>

        <div class="col mt-lg-0 mt-sm-4">
              <div class="card">
                <div class="card-header bg-info">
                  Noticias
                </div>
                <div class="card-body p-2">
                    <div class="card-body bg-transparent p-0 border-0">
                        <ul id="listaNoticias" class="list-group border-0">
                        </ul>
                </div>
                </div>
              </div>
        </div>
    </div>

    <!-- AJAX Stuff -->
    <script>
        // Noticias
        // Carga Inicial
        $(function () {
            $.getJSON("{{ url_for("ajax_legislador_noticias", id=legislador.id)}}", function (jd) {
                let i = -1;
                for (const noticia of jd) {
                    // Crear Card
                    i++;
                    const id_item_noticia = "-noticias-" + i.toString();
                    $("<div></div>").attr("id", "card" + id_item_noticia).addClass("card p-0 border-4").appendTo("#listaNoticias");


                    // Agregar Elementos

                    // Link
                    $("<a></a>").attr("href", noticia.url).attr("id", "link" + id_item_noticia).appendTo("#card" + id_item_noticia);
                    // Titulo
                    $("<h5></h5>").addClass("card-header text-white bg-dark")
                        .append("<u>" + noticia.label + "</u>")
                        .appendTo("#link" + id_item_noticia);
                    // Footer Titulo
                    $("<div></div>").addClass("card-footer text-muted small")
                        .text(noticia.fecha + " | " + noticia.fuente_noticias.nombre)
                        .appendTo("#link" + id_item_noticia);

                    // Contenido
                    // Div Row
                    $("<div></div>").addClass("row").attr("id", "contenido" + id_item_noticia)
                        .appendTo("#link" + id_item_noticia);
                    // Thumbnail
                    $("<img></img>").addClass("col-lg-4 img-fluid").attr("src","data:").attr("alt", "Imagen Noticia")
                        .attr("src", "data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E")
                        .appendTo("#contenido" + id_item_noticia);

                    // Div Texto
                    // Div Body
                    $("<div></div>").addClass("card-body col-lg-7 p-lg-1").attr("id", "texto" + id_item_noticia)
                        .appendTo("#contenido" + id_item_noticia);
                    // P Resumen
                    $("<p></p>").addClass("card-text small m-0 text-white")
                        .text("Resumen:")
                        .appendTo("#texto" + id_item_noticia);
                    // P Texto Resumen
                    $("<p></p>").addClass("card-text text-white")
                        .text(noticia.contenido + "...")
                        .appendTo("#texto" + id_item_noticia);
                }
            });
        });
        // TODO: Boton "Cargar Mas"
    </script>

{% endblock %}
