{%extends 'layouts/base.html' %}

{% block page_content %}
<div class="jumbotron py-4">
    <h2>Senadores</h2>
        <ol class="list-group mb-3">
            {% for legislador in senadores %}
                <li class="list-group-item p-2"><a href="{{ url_for('mostrar_legislador', id_legislador = legislador.id)}}">{{legislador['primer_apellido']}}, {{ legislador["primer_nombre"] }}</a></li>
            {% endfor %}
        </ol>
    <h2>Diputados</h2>
        <ol class="list-group">
            {% for legislador in diputados %}
                <li class="list-group-item p-2"><a href="{{ url_for('mostrar_legislador', id_legislador = legislador.id)}}">{{legislador['primer_apellido']}}, {{ legislador["primer_nombre"] }}</a></li>
            {% endfor %}
        </ol>
</div>
{% endblock %}