{% extends 'layouts/base.html' %}
{% from 'components/_formhelpers.html' import render_field %}

{% block search_bar %}
    {% include 'components/search_bar.html' %}
{% endblock %}

{% block page_content %}
    <div class="jumbotron py-4">
        <form action="" method="POST" role="form">
            <legend>Ingresar:</legend>

            {{ form.hidden_tag() }}

            <div class="form-group">
                {{ render_field(form.nombre, class="form-control")}}
            </div>

            <div class="form-group">
                {{ render_field(form.password, class="form-control")}}
            </div>

            <div class="form-group custom-control custom-checkbox" alt="Recaptcha">
                {{ form.remember_me(class="custom-control-input") }}
                {{ form.remember_me.label(class="custom-control-label")}}
            </div>

            {% if not debug %}
            <hr>

            <div class="form-group">
                {{ render_field(form.recaptcha, class="form-control")}}
            </div>
            {% endif %}

            <button type="submit" class="btn btn-success">Ok</button>
        </form>
    </div>
{% endblock %}