{%extends 'layouts/base.html' %}

{% block search_bar %}
    {% include 'components/search_bar.html' %}
{% endblock %}

{% block page_content %}
    <div class="jumbotron">
        <h1 class="display-4">Mi Perfil</h1>
        <div class="row">
            <div class="col">
                <p class="lead">{{ usuario.nombre }} - {{ usuario.email }}</p>
            </div>
            <div class="col-auto col-lg-2 col-md-3 col-sm-4">
                <a href="{{ url_for('editar_perfil') }}">
                    <button type="button" class="btn btn-success">
                        Editar Perfil
                    </button>
                </a>
            </div>
        </div>
        <hr class="mt-2 mb-3">
        <h2 class="mb-3">Sapeando:</h2>
        <ul class="list-group">
            {% for favorito in usuario.favoritos %}
                <li class="list-group-item">
                    <a href="{{ url_for('mostrar_legislador', id_legislador=favorito.id)}}">{{ favorito }}</a>
                    <div class="float-right">
                    {% if form %}
                        <form action="" method="POST" role="form">
                            {{ form.hidden_tag() }}
                            <div class="form-group">
                                {{ form.dejar(class="btn btn-mini btn-danger") }}
                                <input type="hidden" name="legislador" id="legislador" value="{{ favorito.id }}">
                            </div>
                        </form>
                    {% endif %}
                </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}