<hr>
<form id="barra_busqueda_form" class="form-inline my-2 my-lg-0" role="search" action="{{ url_for('buscar') }}" method="get" onsubmit="return false">
        <input id="buscar_barra" type="text" class="form-control mr-sm-2" placeholder="Buscar..." name="buscar_barra">
        <button id="barra_busqueda_btn" class="btn btn-secondary my-2 my-sm-0">Buscar</button>
    <script>
        // Autocomplete
        $(function () {
            $("#buscar_barra").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url:"{{ url_for("autocomplete_legislador") }}",
                        dataType:"json",
                        data: {
                            term: request.term
                        },
                        success: function (data) {
                            response(data.data);
                        }
                    });
                },
                minLenght: 3,
                focus: function (event, ui) {
                    $("#buscar_barra").val(ui.item.label)
                },
                select: function (event, ui) {
                    event.preventDefault();
                    $("#buscar_barra").val(ui.item.label);
                    window.location.href = "{{ url_for('home')}}" + "legislador/" + ui.item.value;
                }
            });
        });

        // Search Bar Script
        var form_barra = document.getElementById("barra_busqueda_form");

        var buscar_barra = document.getElementById("buscar_barra");
        var buscar_btn = document.getElementById("barra_busqueda_btn");

        buscar_barra.addEventListener("keypress", buscarLegisladorBarra);
        buscar_btn.addEventListener("click", buscarLegisladorBarra);

        function buscarLegisladorBarra(ev){
            if (ev.keyCode === 13 || ev.type === "click") {
                form_barra.submit();
            }
        }
    </script>
</form>
